/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap'); */
.overview-content h1 {
  font-size: 25px !important;
}

/* h1, h2{
  font-family: "DM Serif Display", sans-serif !important;
} */

.overview-content h2 {
  font-size: 20px !important;
  margin-bottom: auto;
  line-height: normal;
}

@media screen and (min-width: 600px) {
  .sub-menu {
    left: 100% !important;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

#carousel-btn {
  z-index: 9999;
}
.bottom-header, .mobile-menu-container, .top-header{
  background-color: #4a5759 !important;
}



/* CARD */
.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.card-title{
  font-weight: bold;
  font-size: 2rem;
}

.activity-card-group{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.activity-page, .region-page{
  min-height: 100vh;
  padding: 4rem;
}
.activity-page > h2, .region-page > h2{
  padding: 1rem;
  text-align: center;
}