.content p,
.content ul,
.content ol,
.content li,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  line-height: 1.5;
  letter-spacing: normal;
}

.content p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  letter-spacing: normal;
}

.content h2 {
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  letter-spacing: normal;
}

.content ul,
.content ol {
  margin-left: 1.5em;
  padding-left: 0;
  letter-spacing: normal;
}

.content li {
  margin-bottom: 0.3em;
  letter-spacing: normal;
}
.content{
  margin-top: 1rem;
  letter-spacing: normal;
  text-align: left;
}
