name: Deploy to VPS on Push

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/hi-nepal
            git pull origin main

            # Backend
            cd hinepal-backend
            npm ci
            npm run build
            npx prisma migrate deploy
            pm2 restart api.hinepaltreks

            # Admin Panel
            cd ../hinepal-adminpanel
            npm ci
            npm run build
            pm2 restart admin.hinepaltreks

            # Frontend
            cd ../new-hinepal
            npm ci
            npm run build
            pm2 restart hinepaltreks
